.grid-lines line {
  stroke: #93c8c4;
  stroke-width: 0.25px;
}

.orange-grid-lines line {
  stroke: #ff901f;
  stroke-width: 0.35px;
}

.axis .domain {
  stroke: #93c8c4;
}

.axis text {
  fill: #93c8c4;
  font-size: 1.5em;
  fill-opacity: 1;
}

.axis line {
  stroke: #93c8c4;
}

.thick-sunset-magenta-path {
  stroke: #ff2975;
  stroke-width: 5px;
  fill-opacity: 0;
  fill: none;
}

.medium-sunset-yellow-path {
  stroke: #ffd319;
  stroke-width: 1.5px;
  fill-opacity: 0;
  fill: none;
}
