/* import { hexToRgba } from "utils/utils";
import {
  synthCyberPaleBlue,
  themeBackground,
} from "interactivity/resources/constants/colors";

axes line{

} */
/* .invisible {
	visibility: hidden;
} */

.hidden {
  display: none;
}
.visible {
  display: block;
}
